<div class="container">
    <h2>Detail Staff</h2>
  
    <div class="container-content">
      <table class="staff-table">
        <tbody>
          <tr>
            <td>NIP</td>
            <td>:</td>
            <td>{{obj.nip}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td>{{obj.name | titlecase}}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>:</td>
            <td>{{obj.gender | titlecase}}</td>
          </tr>
          <tr>
            <td>DOB</td>
            <td>:</td>
            <td>{{obj.dob}}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>:</td>
            <td>
              <mat-form-field>
                <mat-select [(value)]="obj.status" [disabled]="flag">
                  <mat-option value="none">-None-</mat-option>
                  <mat-option value="trainee">Trainee</mat-option>
                  <mat-option value="trainer">Trainer</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Program</td>
            <td>:</td>
            <td>
                <mat-form-field>
                  <mat-select [(value)]="obj.program" [disabled]="flag">
                    <mat-option *ngFor="let pro of program" value="{{pro}}">{{pro}}</mat-option>
                  </mat-select>
                </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Division</td>
            <td>:</td>
            <td>
              <mat-form-field>
                <mat-select [(value)]="obj.division" [disabled]="flag">
                  <mat-option *ngFor="let div of division" value="{{div}}">{{div}}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Internal/Eksternal</td>
            <td>:</td>
            <td>{{obj.internal_eksternal | titlecase}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="btn-area">
      <button mat-raised-button class="back-btn" (click)="rightFunction($this)" id="btnRight">
          <mat-icon>{{rightIcon}}</mat-icon>
      </button>
      <button mat-raised-button class="back-btn" (click)="leftFunction($this)" id="btnLeft">
          <mat-icon>{{leftIcon}}</mat-icon>
      </button>
    </div>
</div>
