.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    overflow: hidden;
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
        }
        .login-form {
            position: absolute;
            z-index: 5;
            padding: 40px;
            background: #fff;
            width: 500px;
            box-shadow: 0 0 10px #ddd;
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px white inset;
            }
            animation-name: fadeInDown;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            opacity: 0;
            animation-delay: 0.8s;
        }
    }

    &:after {
        content: '';
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0%;
        right: 0;
        z-index: 2;
    }
    &:before {
        content: '';
        background: rgba(100, 100, 214, 0.85);
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        animation-name: fadeInUp;
        animation-duration: 1.0s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}

.login-img{
    top:-10%;
    position: absolute;
    margin: auto;
}

@keyframes fadeInDown{
    from{
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@media only screen and (max-width: 1040px) {
    .login-page {
        .content {
            .app-name {
            }
            .login-form {
                width: 400px;
                }
            }
            &:after {
                background: rgba(255, 255, 255, 0.3);
            }
            &:before {
                background: rgba(100, 100, 214, 1);
            }
        }
    .login-img{
        visibility: hidden;
    }
}

@media only screen and (max-width: 450px) {
    .login-page {
        .content {
            .app-name {
            }
            .login-form {
                width: 250px;
                }
            }
            &:after {
                background: rgba(255, 255, 255, 0.3);
            }
            &:before {
                background: rgba(100, 100, 214, 1);
            }
        }
    .login-img{
        visibility: hidden;
    }
}

@media only screen and (max-width: 361px) {
    .login-page {
        .content {
            .app-name {
                font-size: 1.5em;
            }
            .login-form {
                width: 220px;
                }
            }
            &:after {
                background: rgba(255, 255, 255, 0.3);
            }
            &:before {
                background: rgba(100, 100, 214, 1);
            }
        }
    .login-img{
        visibility: hidden;
    }
}