<div class="login-page">
    <div class="content">
        <img src="assets/images/think_tank_BLI.jpg" class="login-img" alt="">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="login-form" [formGroup]="newForm">
            <div class="text-center">
                <h2 class="app-name">BLI Companion</h2>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="NIP" id="nip" type="text" formControlName="nip"
                        class="form-control" required="">
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="newForm.controls.nip.invalid && (newForm.controls.nip.dirty || newForm.controls.nip.touched)" class="alert alert-danger">
                <app-show-errors [control]="newForm.controls.nip"></app-show-errors>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Password" formControlName="pass"
                        class="form-control" required="">
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="newForm.controls.pass.invalid && (newForm.controls.pass.dirty || newForm.controls.pass.touched)"
            class="alert alert-danger">
                <app-show-errors [control]="newForm.controls.pass"></app-show-errors>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" (click)="onLogin()" [disabled]="!newForm.valid">Login</button>
                </div>
            </div>

        </form>
    </div>
</div>
