<div class="spacer"></div>

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <div class = "medal00_0">
            <div class="medal03">
                <a>Next Class Schedule</a>
            </div>
        </div>
    </div>
    <div fxFlex>
        <div class = "medal00_1">
            <div class="medal03">
                <a>Next Shuttle Schedule</a>
            </div>
        </div>
    </div>
</div>

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div class="left-container">
        <div fxFlex>
            <div class = "medal01_0">
                <div class="medal04">
                    <a>Medal 01</a>
                </div>
            </div>
            <div class = "medal01_1" style="margin-top:20px;">
                <div class="medal04">
                    <a>Medal 02</a>
                </div>
            </div>
        </div>
        <div fxFlex style="margin-left:20px;">
            <div class = "medal01_2">
                <div class="medal04">
                    <a>Medal 03</a>
                </div>
            </div>
            <div class = "medal01_3" style="margin-top:20px;">
                <div class="medal04">
                    <a>Medal 04</a>
                </div>
            </div>
        </div>
        <div fxFlex style="margin-left:20px;">
            <div class = "medal01_4">
                <div class="medal04">
                    <a>Medal 05</a>
                </div>
            </div>
            <div class = "medal01_5" style="margin-top:20px;">
                <div class="medal04">
                    <a>Medal 06</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="right-container">
        <div class = "profile-header">Profile Detail
        </div>
         <div class = "profile-container">            
        </div>
    </div>
    
</div>

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <div class = "medal02_0">
            <div class="medal05">
                <a>Your Favourite Food Stall</a>
            </div>
        </div>
    </div>
    <div fxFlex>
        <div class = "medal02_1">
            <div class="medal05">
                <a>Visit us again!</a>
            </div>
        </div>
    </div>
    <div fxFlex>
        <div class = "medal02_2">
            <div class="medal05">
                <a>Your total book record</a>
            </div>
        </div>
    </div>
    <div fxFlex>
        <div class = "medal02_3">
            <div class="medal05">
                <a>BLI trending pick</a>
            </div>
        </div>
    </div>
    <div fxFlex>
        <div class = "medal02_4">
            <div class="medal05">
                <a>Recommended pick</a>
            </div>
        </div>
    </div>
</div>

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex *ngFor="let item of places">
        <mat-card class="news_card">
            <img mat-card-image [src]="item.imgSrc">
            <mat-card-header style="justify-content: center">
                <mat-card-title>
                    <h3 class="m-0">{{item.place}}</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{item.description}}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button>{{item.charge}}</button>
                <button mat-button style="pointer-events: none">
                    <mat-icon class="nav-icon">location_on</mat-icon> {{item.location}}
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

