<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxFlex>
        <div class="left_forms_container">
            <table class="left_forms_table">
                <tr>
                    <td>Detail Umum</td>
                </tr>
                <tr>
                    <td>NIP:</td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Masukkan NIP">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Nama:</td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Masukkan Nama">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Tanggal Lahir:</td>
                    <td>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>Jenis Kelamin:</td>
                    <td>
                        <mat-radio-group [(ngModel)]="GenderPosition">
                            <mat-radio-button class="gender_radio" value="Male">Male</mat-radio-button>
                            <mat-radio-button class="gender_radio" value="Female">Female</mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>Role:</td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="---Pilih Role---" (selectionChange)="onChange(roleSelect)" [(ngModel)]="roleSelect">
                                <mat-option value="option1">Staff</mat-option>
                                <mat-option value="option2">Vendor</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div fxFlexFill>
                <button mat-raised-button color="primary" class="w-101" (click)="onSubmitUmum()" [disabled]="vendorFlag || staffFlag">SUBMIT</button>
            </div>
        </div>
    </div>
    <div fxFlex>
        <div class="right_forms_container" *ngIf="staffFlag || vendorFlag">
            <table class="right_forms_table_staff" *ngIf="staffFlag">
                <tr>
                    <td>Detail Khusus</td>
                </tr>
                <tr>
                    <td>Divisi:</td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="---Pilih Nama Divisi---">
                                <mat-option value="option">GSIT</mat-option>
                                <mat-option value="option">DPOL</mat-option>
                                <mat-option value="option">APAAJA</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Program:</td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="---Pilih Nama Program---">
                                <mat-option value="option">BIT</mat-option>
                                <mat-option value="option">PPA</mat-option>
                                <mat-option value="option">PPTI</mat-option>
                                <mat-option value="option">Tanpa Program</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Status Kerja:</td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="---Pilih Status Kerja---">
                                <mat-option value="option">Internal</mat-option>
                                <mat-option value="option">Eksternal</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>Status di BLI:</td>
                    <td>
                        <mat-radio-group [(ngModel)]="BLIPosition">
                            <mat-radio-button class="BLI_radio" value="Trainer">Trainer</mat-radio-button>
                            <mat-radio-button class="BLI_radio" value="Trainee">Trainee</mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
            </table>

            <table class="right_forms_table_vendor" *ngIf="vendorFlag">
                <tr>
                    <td>Detail Khusus</td>
                </tr>
                <tr>
                    <td>Stall ID:</td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Masukkan Stall ID">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Lokasi Stall:</td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Masukkan Lokasi Stall">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div fxFlexFill>
                <button mat-raised-button color="primary" class="w-101" (click)="onSubmitDetail()" *ngIf="vendorFlag || staffFlag">SUBMIT</button>
            </div>
        </div>
    </div>
</div>
<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxFlex>
        <div fxFlexFill>
            <button mat-raised-button color="primary" class="w-100" (click)="onInqDataBook()">INQUIRY DATA BOOKING</button>

        <div class="inq_container"*ngIf="inqBookFlag">
            <div class="scroller">
                    <div class = "inq_table_container">
                    <table class="inq_table">
                        <tr>
                            <th>Booking ID</th>
                            <th>Stall ID</th>
                            <th>Staff ID</th>
                            <th>Booking Time</th>
                        </tr>
                        <tr>
                            <td>000001</td>
                            <td>STALL01</td>
                            <td>65548</td>
                            <td>01/01/2018 09:05:01</td>
                        </tr>
                        <tr>
                            <td>000002</td>
                            <td>STALL11</td>
                            <td>65548</td>
                            <td>01/01/2018 09:15:51</td>
                        </tr>
                        <tr>
                            <td>000003</td>
                            <td>STALL05</td>
                            <td>65548</td>
                            <td>01/01/2018 10:05:54</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxFlex>
        <div fxFlexFill>
            <button mat-raised-button color="primary" class="w-100" (click)="onInqDataStaff()">INQUIRY DATA STAFF</button>

        <div class="inq_container"*ngIf="inqStaffFlag">
            <div class="scroller">
                    <div class = "inq_table_container">
                    <table class="inq_table">
                        <tr>
                            <th>NIP</th>
                            <th>Nama</th>
                            <th>Divisi</th>
                            <th>Status di BLI</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxFlex>
        <div fxFlexFill>
            <button mat-raised-button color="primary" class="w-100" (click)="onInqDataVendor()">INQUIRY DATA VENDOR</button>

        <div class="inq_container"*ngIf="inqVendorFlag">
            <div class="scroller">
                    <div class = "inq_table_container">
                    <table class="inq_table">
                        <tr>
                            <th>ID Vendor</th>
                            <th>Nama Stall</th>
                            <th>Lokasi Stall</th>
                            <th>Menu Makanan</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
