.left_forms_container,.right_forms_container{
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
    height: 400px;
    padding: 20px;
    position: relative;
}

.inq_container{
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
    height: 500px;
}

.left_forms_table,.right_forms_table_staff,.right_forms_table_vendor{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    color:black;
    th{
        text-align: center;
    }
    td{
        padding-left:5px;
    }
    tr{
        line-height: 2em;
    }
}

.right_forms_table_staff{
}

.gender_radio,.BLI_radio{
    margin-right: 10px;
}

.w-100 {
    width: 100%;
    background: linear-gradient(60deg, #9cdfa7, #61d849);
    font-family: Fontil Sans, monospace;
    font-size: 1em;
}

.w-101 {
    width: 93%;
    background-color: lightgreen;
    font-family: Fontil Sans, monospace;
    font-size: 1em;
    position: absolute;
    bottom: 5%;
}

.inq_table_header{
    background: linear-gradient(60deg, #9cdfa7, #61d849);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 2px;
    height: 20px;
    box-shadow: 1 3px 6px rgba(0, 0, 0, 0.432);
    color: #fff;
    font-family: Fontil Sans, monospace;
    text-align: center;
}
.inq_table_header:hover{
    cursor: pointer;
}

.scroller{
    overflow: hidden;
    box-shadow: 1 3px 6px rgba(0, 0, 0, 0.432);
    background: linear-gradient(50deg, #ffffff, #ffffff);
    padding-bottom: 20px;
}
.inq_table_container{
    display: flex;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    background: linear-gradient(50deg, #ffffff, #ffffff);
    position: relative;
    padding: 20px;
    border-radius: 2px;
    height: 400px;
    color: #fff;
    font-family: Fontil Sans, monospace;
    overflow: auto;
    padding-right: 20px;
}

.inq_table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    color:black;
    td,th{
        border: 1px solid #dddddd;
    }
    th{
        text-align: center;
    }
    td{
        padding-left:5px;
    }
    tr{
        line-height: 2em;
    }
}


@media only screen and (max-width: 550px) {
    .left_forms_container,.right_forms_container{
        height: 450px;
    }
    .w-101{
        width: 90%;
    }    
}

@media only screen and (max-width: 390px) {
    .left_forms_container,.right_forms_container{
        height: 500px;
        padding: 10px;
    }
    .mat-form-field{
        width: 91%;
    }
}
