<h2 mat-dialog-title>Konfirmasi Booking</h2>
<mat-dialog-content class="mat-typography">
    <p>hi! confirm {{obj.food}}? :)</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>