<div class="container">
    <h2>Detail Jadwal</h2>
  
    <div class="container-content">
      <table>
        <tr>
          <td>Tanggal</td>
          <td>:</td>
          <td>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="{{obj.tanggal}}" (dateChange)="changeStartDate($event, true)" [disabled]="flag">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Kelas</td>
          <td>:</td>
          <td>
              <mat-form-field>
                <input matInput value="{{obj.kelas}}" [disabled]="flag">
              </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Materi</td>
          <td>:</td>
          <td>{{obj.materi | titlecase}}</td>
        </tr>
        <tr>
          <td>Program</td>
          <td>:</td>
          <td>{{obj.program | titlecase}}</td>
        </tr>
        <tr>
          <td>Trainer</td>
          <td>:</td>
          <td>
            <form>
              <mat-form-field>
                <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of trainerName | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="btn-area">
        <button mat-raised-button class="back-btn" (click)="rightFunction()" id="btnRight">
            <mat-icon>{{rightIcon}}</mat-icon>
        </button>
        <button mat-raised-button class="back-btn" (click)="leftFunction()" id="btnLeft">
            <mat-icon>{{leftIcon}}</mat-icon>
        </button>
      </div>
  </div>