<h1>Halaman Konfirmasi</h1>

<div class="container">
  <div class="bli-so-box-blue">
    <div class="bli-si-box">

      <div *ngIf="receiveFlag == 1" id="screen1">
        <h3>Bukti Pemesanan</h3>

        <div class="divider"> </div>

        <div class="desc-box">
          <div>
            <div class="dline">Nomor Pemesanan</div>:
            <span class="blue-clr">{{bookingID}}</span>
          </div>

          <div>
            <div class="dline">Makanan</div>:
            <span class="blue-clr">{{bookingMenu | titlecase}}</span>
          </div>

            <div>
              <div class="dline">Lokasi</div>:
              <span class="blue-clr">{{bookingArea| titlecase}}</span>
            </div>

          <div>
            <div class="dline">Waktu Pemesanan</div>:
            <span class="blue-clr">{{bookingTime}}</span>
          </div>
        </div>

        <div class="divider">
          <div class="red-clr">
              <mat-icon class="vertical-align">info</mat-icon>
              <span>Pastikan yang menekan tombol ini adalah petugas makanan yang punya otoritas ya!</span>
          </div>
          <button mat-raised-button class="btn-1" (click)="confirmFood()">Terima</button>
        </div>
      </div>

      <div *ngIf="receiveFlag == 2" id="screen2">
          <h3>Berikan Masukan</h3>

          <div class="divider"> </div>

          <div>
            <mat-icon *ngFor="let star of Arr(starNumber); let i = index" 
            class="icon-rating" 
            (mouseover)="changeStar(i)" 
            (mouseleave)="changeStarBorder(i)"
            (click)="rating(i);"
            id="{{i}}">{{starTxt}}</mat-icon>
          </div>
      </div>

    </div>
  </div>
</div>