.bli-so-box-blue{
    background: linear-gradient(60deg, #b3bbff, #8476ff);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    max-width: 400px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.container{
    position: relative;
}
.divider{
    border: 1px solid lightgray;
    margin: 20px;
}
.bli-si-box{
    background-color: white;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    border-radius: 2px;
    padding: 5px;
    text-align: center;
}
.bli-content-box{
    padding: 5px;
}
.btn-1{
    background-color: #8476ff;
    color: white;
    margin-bottom: 10px;
    width: 98%;
}
.btn-2{
    background-color: lightgray;
    margin-right: 10px;
}
.sv-btn-row{
    text-align: right;
    padding: 10px;
}
.max-width{
    width: 100%;
}
.red-clr{
    color: red;
    font-size: 12px;
    padding: 10px;
}
.blue-clr{
    color: #8476ff;
}
.vertical-align{
    vertical-align: middle;
}
.dline{
    display: inline-block;
    width: 50%;
    text-align: left
}
.desc-box{
    text-align: left;
    padding: 0 20px 0 20px;
}
.icon-rating{
    width: unset;
    font-size: 50px;
    padding: 2px;
    height: unset;
}
.icon-rating:hover{
    cursor: pointer;
}

@media (max-width: 400px){
    .blue-clr{
        display: block;
    }
    .dline{
        width: unset;
    }
    .desc-box{
        text-align: unset;
    }
    h1{
        text-align: center;
    }
}