<div class="page_container">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="35px">
        <div fxFlex>
            <div class = "vendor_medal_wrapper">
                <div class="vendor_medal">
                    <a>Rating</a>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div class = "vendor_medal_wrapper">
                <div class="vendor_medal">
                    <a>Total Book This Month</a>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div class = "vendor_medal_wrapper">
                <div class="vendor_medal">
                    <a>Total Book of All Time</a>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div class = "vendor_medal_wrapper">
                <div class="vendor_medal">
                    <a>Sold Out Record</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="35px">
        <div fxFlex>
            <div class = "vendor_medal_wrapper">
                <div class="vendor_medal">
                    <a>Neighborhood 1st Rank</a>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div class = "vendor_medal_wrapper">
                <div class="vendor_medal">
                    <a>BLI 1st Rank</a>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div class = "vendor_medal_wrapper">
                <div class="vendor_medal">
                    <a>Your Stall Rank</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
        <div class="left-container">
            <div class = "manage_stall_header">Stall Management</div>
            <div class = "manage_stall">
                <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
                    <div fxFlex>
                        <mat-tab-group (selectedTabChange)="tabClick($event)">
                            <mat-tab label="{{stallList.stallPosition | titlecase}}">
                              <div *ngIf="stallList.stallPosition.toLowerCase() == 'presmanan'">
                                <div class="bli-content-box">
                                  <div *ngIf="editFlag == 0">
                                    <p>{{presmananList.foodLongText}}</p>
                                  </div>
                                </div>
                              </div>
                              <div *ngIf="stallList.stallPosition.toLowerCase() == 'upperground' || stallList.stallPosition.toLowerCase() == 'lowerground'">
                                <div class="bli-content-box">
                                    <mat-form-field class="max-width">
                                        <input matInput placeholder="ID Stall" value="" readonly>{{stallList.stallId}}
                                    </mat-form-field>
                                    <mat-form-field class="max-width">
                                        <input matInput placeholder="Nama Stall" value="" readonly>{{stallList.stallName}}
                                    </mat-form-field>
                                    <mat-form-field class="max-width">
                                        <input matInput placeholder="Lokasi Stall" value=""  readonly>{{stallList.stallPosition | titlecase}}
                                    </mat-form-field>
                                    <mat-form-field class="max-width">
                                        <input matInput placeholder="Menu Makanan" value="" readonly>{{stallList.stallMenu | titlecase}}
                                    </mat-form-field>
                                    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="5px">
                                        <div fxFlex class="bli-content-box-left">
                                            <mat-form-field class="max-width">
                                                <input matInput placeholder="Stok Booking" value="" readonly>{{stallList.stallBStock}}
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex class="bli-content-box-right">
                                            <mat-form-field class="max-width">
                                                <input matInput placeholder="Stok Antrian" value="" readonly>{{stallList.stallQStock}}
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </mat-tab>
                  
                            <mat-tab label="Atur Menu">
                                <div class="bli-content-box">
                                    <div *ngIf="stallList.stallPosition.toLowerCase() == 'presmanan'">
                                    <div>
                                        <mat-form-field class="max-width">
                                            <textarea matInput placeholder="Tambahkan Menu" [(ngModel)]="tempLongText"></textarea>
                                        </mat-form-field>      
                                    </div>
                                    </div>
                                    <div *ngIf="stallList.stallPosition.toLowerCase() == 'upperground' || stallList.stallPosition.toLowerCase() == 'lowerground'">
                                        <mat-form-field class="max-width">
                                            <input matInput placeholder="Menu Makanan" value="" [(ngModel)]="tempMenu">
                                        </mat-form-field>
                    
                                        <mat-form-field class="max-width">
                                            <input matInput type="number" placeholder="Stock Booking" value="" [(ngModel)]="tempBStock">
                                        </mat-form-field>
            
                                        <mat-form-field class="max-width">
                                            <input matInput type="number" placeholder="Stock Antrian" value="" [(ngModel)]="tempQStock">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>   
            </div>
            <button class="param_submit_btn" (click)="saveMenu()" disabled id="menuSbmt">SUBMIT</button>
        </div>

        <div class="right-container">
                <div class="scroller">
                    <div class = "sales_table_header">Sales History</div>
                    <div class = "sales_table_container">
                    <table class="sales_table">
                        <tr>
                            <th>Tanggal</th>
                            <th>Total</th>
                            <th>Menu Makanan</th>
                        </tr>
                        <tr>
                            <td>01/01/2018</td>
                            <td>213</td>
                            <td>Nasi Kuning, Bihun Goreng, Tempe Bacem, Orek Telur, Batagor</td>
                        </tr>
                        <tr>
                            <td>02/01/2018</td>
                            <td>197</td>
                            <td>Ayam Goreng, Salad Vietnam, Sop jagung, Perkedel, Lasagna</td>
                        </tr>
                        <tr>
                            <td>03/01/2018</td>
                            <td>201</td>
                            <td>Empal, Tahu penyet, Capcay, Bakmi Medan, Sayur Sop</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>