<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard-vendor']">
            <mat-icon class="sidenav-icon">class</mat-icon> {{ 'Class Schedule' | translate }}
        </a>
        <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('pages')" 
            [style.background-color]="first_active ? 'rgb(232,135,113,0.8)' : '#fff'"
            [style.background-color]="upper_active ? 'rgb(113,232,127,0.8)' : '#fff'"
            [style.background-color]="lower_active ? 'rgb(113,159,232,0.8)' : '#fff'"
            [style.color]="first_active ? 'white' : 'black'"
            [style.color]="upper_active ? 'white' : 'black'"
            [style.color]="lower_active ? 'white' : 'black'"
            [routerLinkActive]="'active'"
            [routerLink]="['/food-stall']"
            >
                <mat-icon class="sidenav-icon">restaurant</mat-icon> {{ 'Food Stall' | translate }}
            </a>
            <ul class="nested submenu" [class.expand]="showMenu === 'pages' 
            || showMenu === 'subpages1' 
            || showMenu === 'subpages2' 
            || showMenu === 'subpages3'">
                <a mat-list-item class = "substall-menu" (click)="addExpandSubClass_first('subpages1'); fsFunction.clickTop();"
                [style.background-color]="first_active ? 'rgb(232,135,113,0.8)' : '#fff'"
                [style.color]="first_active ? 'white' : 'black'"
                >
                    <mat-icon class="sidenav-icon">store</mat-icon>{{ '1st Floor' | translate }}
                </a>
                <ul class="nested submenu" [class.expand]="showMenu === 'subpages1'">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Prasmanan' | translate }}</span></a>
                    </li>
                </ul>
                <a mat-list-item class = "substall-menu" (click)="addExpandSubClass_upper('subpages2'); fsFunction.clickMid();"
                [style.background-color]="upper_active ? 'rgb(113,232,127,0.8)' : '#fff'"
                [style.color]="upper_active ? 'white' : 'black'"
                >
                    <mat-icon class="sidenav-icon">store</mat-icon> {{ 'Upper Ground' | translate }}
                </a>
                <ul class="nested submenu" [class.expand]="showMenu === 'subpages2'">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Bento' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Menu Diet' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Sop Buntut' | translate }}</span></a>
                    </li>
                </ul>
                <a mat-list-item class = "substall-menu" (click)="addExpandSubClass_lower('subpages3'); fsFunction.clickBot();"
                [style.background-color]="lower_active ? 'rgb(113,159,232,0.8)' : '#fff'"
                [style.color]="lower_active ? 'white' : 'black'">
                    <mat-icon class="sidenav-icon">store</mat-icon> {{ 'Lower Ground' | translate }}
                </a>
                <ul class="nested submenu" [class.expand]="showMenu === 'subpages3'">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Sate Taichan' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Chicken Breast' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Nasi Padang' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Sop Iga' | translate }}</span></a>
                    </li>
                </ul>
            </ul>
        </div>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/admin-page']">
            <mat-icon class="sidenav-icon">directions_bus</mat-icon> {{ 'Shuttle Schedule' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/confirmation-page']">
            <mat-icon class="sidenav-icon">star</mat-icon> Confirmation
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/booking-detail']">
            <mat-icon class="sidenav-icon">star_border</mat-icon> Booking Detail
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/staff-detail']">
            <mat-icon class="sidenav-icon">star_border</mat-icon> Staff Detail
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/program-detail']">
            <mat-icon class="sidenav-icon">star_border</mat-icon> Program Detail
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/schedule-detail']">
            <mat-icon class="sidenav-icon">star_border</mat-icon> Schedule Detail
        </a>
        
    </mat-nav-list>
</div>
