<div class="container">
    <h2>Detail Program</h2>
  
    <div class="container-content">
      <table>
        <tr>
          <td>Program</td>
          <td>:</td>
          <td>{{obj.program}}</td>
        </tr>
        <tr>
          <td>Deskripsi</td>
          <td>:</td>
          <td>
            <mat-form-field >
              <input matInput value="{{obj.description}}" [disabled]="flag">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Start Date</td>
          <td>:</td>
          <td>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="{{obj.start_date}}" (dateChange)="changeStartDate($event, true)" [disabled]="flag">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>End Date</td>
          <td>:</td>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="{{obj.end_date}}" (dateChange)="changeStartDate($event, false)" [disabled]="flag">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="btn-area">
        <button mat-raised-button class="back-btn" (click)="rightFunction()" id="btnRight">
            <mat-icon>{{rightIcon}}</mat-icon>
        </button>
        <button mat-raised-button class="back-btn" (click)="leftFunction()" id="btnLeft">
            <mat-icon>{{leftIcon}}</mat-icon>
        </button>
      </div>
  </div>