@import "~material-design-icons/iconfont/material-icons.css";

.container{
    position: relative;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}
.container h2{
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}
.container-content{
    padding-top: 20px;
    padding-left: 20px;
}
mat-form-field{
    width: 95%;
}
.form-area{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.btn-area{
    position: absolute;
    top: 15px;
    right: 10px;
}
.back-btn{
    float: right;
    background-color: #3f51b5;
    color: white;
}
.back-btn:first-child{
    margin-left: 5px;
}
.btn-active-red{
    background-color: red;
}
.btn-active-green{
    background-color: green;
}
@media screen and (max-width: 600px){
    .back-btn{
        border-radius: 100%;
        min-width: unset;
        padding: 0;
        width: 36px
    }
    .container{
        padding: unset;
    }
}