<div class="map-box-container">
    <div class="map-box-content">
        <h2 #topArea>Prasmanan Menu®</h2>
        <div class="pres-desc">{{allMenuArray[0].description}}</div>
    </div>
</div>

<div class="map-box-container">
    <img src="assets/images/bakwan.jpg" alt="" class="bkground-img">
    <div class="overlay-dark"></div>
    <div class="map-box-content">
        <h2 #midArea>Upperground Menu®</h2>

        <div class="pRelative dFlex">
            <div class="quarterWidth pRelative" *ngFor="let stall of ugArray" (click)="bookingAction(stall)">
                <h4>Name : 
                    <div class=" redClr">{{stall.name}}</div>
                </h4>
                <h4>Stock : 
                    <div class=" redClr">{{stall.stock}}</div>
                </h4>
                <h4>Avail to Book : 
                    <div class=" redClr">{{stall.queue_stock}}</div>
                </h4>
                <mat-icon class="breakLine" matTooltip="info" 
                aria-label="stallTip" matTooltipPosition="above" 
                class="qIcon">help_outline</mat-icon>
            </div>
        </div>
    </div>
</div>

<div class="map-box-container">
<div class="map-box-content">
    <h2 #botArea>Lowerground Menu®</h2>

    <div class="pRelative dFlex">
        <div class="quarterWidth pRelative" *ngFor="let stall of lgArray" (click)="openDialog(stall)">
            <h4>Name :
                <div class="redClr">{{stall.name}}</div>
            </h4>
            <h4>Stock :
                <div class="redClr">{{stall.stock}}</div>
            </h4>
            <h4>Avail to Book :
                <div class="redClr">{{stall.queue_stock}}</div>
            </h4>
            <mat-icon class="breakLine" matTooltip="info" 
            aria-label="stallTip2" matTooltipPosition="above" 
            class="qIcon">help_outline</mat-icon>
        </div>
    </div>
</div>
</div>

<button (click)="openDialog()">ads</button>

<div class="noDisplay">
    <div (click)="scScroll(topArea)" id="scTop"></div>
    <div (click)="scScroll(midArea)" id="scMid"></div>
    <div (click)="scScroll(botArea)" id="scBot"></div>
</div>